@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Anton|Cabin');

ul li:nth-child(odd) {
  background: #cec7c7;
}

h1 {
	text-align: center;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 8vw;
	margin:0;
	margin-bottom: 2vw;
}

input {
  margin: 0;
  border-style: solid;
  border-radius: 0;
  width: 25%;
  padding: 1vw;
  font-size: 2vw;
}

#addbtn {
  padding: 1vw;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 2vw;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}



form{
	margin: 0 auto;
	text-align: center; 
}
#movies{
	margin-left: 2vw;
	list-style: circle;
	font-size: 4vw;
}

.name{
	font-family: 'Anton', Helvetica, Arial, sans-serif;
	font-size: 4vw;
	color: red;
	margin: 0;
}

.chris{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	
	font-size: 2vw;
	margin: 0;
}

.close{
	width: 4%;
	padding: 0px;
	color: black;
	text-align: center;
	font-size: 3vw;
	background: #d9d9d9;
	position: absolute;
	right: 0;
	margin-right: 6vw; 
}

.fav{
	width: 4%;
	padding: 0px;
	color: red;
	text-align:left;
	font-size: 3vw;
	background: #d9d9d9;
	position: absolute; 
	right: 0;
	margin-right: 2vw;
}
