@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Anton|Cabin');

h1 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 10vw;
	margin:0;
}

#movies{
	list-style: circle;
	font-size: 4vw;
}

.name{
	font-family: 'Anton', Helvetica, Arial, sans-serif;
	font-size: 4vw;
	color: red;
	margin: 0;
}

.chris{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	
	font-size: 2vw;
	margin: 0;
}

.close{
	position: absolute;
	right: 0;
}
